* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: .3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(97, 0, 16, 0.842);
}

::-webkit-scrollbar-button {
  background: rgba(189, 30, 56, 0.671);
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 231, 235, 0.671);
}

body {
  background-image: linear-gradient(to bottom, rgba(51, 47, 99, 0.856), rgba(61, 23, 30, 0.966));
  display: grid;
  height: 105vh;
  justify-content: center;
  overflow-x: hidden;
}

.titleCont {
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  background: rgba(189, 30, 56, 0.671);
  box-shadow: 5px 5px 600px 1px rgba(0, 0, 0, 0.486);
}

.titleCont h1 {
  font-size: 2em;
}

.titleCont p {
  font-size: .8em;
}

.todoCont {
  height: 50em;
  background: #796b85;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 600px 1px rgba(0, 0, 0, 0.486);
  margin-bottom: 5em;
}

.todoCont .todosCont {
  display: flex;
  flex-direction: column;
  background: rgba(187, 174, 177, 0.192);
  height: 50em;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  overflow-y: scroll;
  gap: .5em;
}

.todoCont .todosCont .todoItem {
  background: rgba(189, 30, 56, 0.671);
  padding: 1em;
}

.todoCont .inputCont {
  height: 4em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1vw;
}

.todoCont .inputCont button {
  padding: .5vh;
  background: rgba(189, 30, 56, 0.671);
  border-radius: 100%;
  color: white;
  font-weight: bold;
}

.todoCont .inputCont button:active {
  background: rgba(148, 96, 104, 0.671);
}

.todoCont .inputCont .submitTodo {
  padding: .5em 1em;
  font-weight: bold;
  font-size: 20px;
}

.todoCont .inputCont .removeTodo {
  padding: .5em 1em;
  font-size: 20px;
}

.todoCont .inputCont .removeTodo:active {
  background: rgba(148, 96, 104, 0.671);
}

.todoCont .inputCont .todoInput {
  width: 32vw;
  border-radius: 5px;
  padding: 1em;
}

.reloadBtn {
  padding: .5em;
  background: rgba(189, 30, 56, 0.671);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-top: .5em;
}

@media all and (max-width: 700px) {
  .todoInput {
    width: 45vw !important;
  }
}

@media all and (max-width: 1150px) {
  .todoCont {
    width: 85vw;
  }
}
