* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: .3em;
}

::-webkit-scrollbar-thumb {
  background: #e48282;
}

::-webkit-scrollbar-button {
  background: rgba(255, 121, 141, 0.671);
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 231, 235, 0.671);
}

body {
  background-image: linear-gradient(to bottom, rgba(241, 177, 188, 0.671), rgba(255, 245, 247, 0.966));
  height: 100vh;
  display: grid;
  justify-content: center;
}

.todoCont {
  min-height: 45em;
  background: rgba(191, 145, 226, 0.575);
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  border-radius: 10px;
}

.todoCont .titleCont {
  margin-bottom: auto;
  color: white;
  font-weight: bold;
  text-align: center;
}

.todoCont .titleCont h1 {
  font-size: 2em;
}

.todoCont .titleCont p {
  font-size: .8em;
}

.todoCont .todosCont {
  display: flex;
  flex-direction: column;
  background: #f8e7ea;
  height: 35em;
  width: 90%;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  overflow-y: scroll;
  gap: .5em;
}

.todoCont .todosCont .todoItem {
  background: rgba(182, 119, 129, 0.671);
  padding: 1em;
}

.todoCont .inputCont button {
  padding: .5em;
  background: rgba(245, 167, 180, 0.671);
  border-radius: 100%;
  color: white;
  font-weight: bold;
  margin-left: .todoCont .inputCont button;
}

.todoCont .inputCont button :active {
  background: rgba(148, 96, 104, 0.671);
}

.todoCont .inputCont .removeTodo {
  padding: .5em 1em;
}

.todoCont .inputCont .removeTodo:active {
  background: rgba(148, 96, 104, 0.671);
}

.todoCont .inputCont .todoInput {
  width: 33em;
  border-radius: 5px;
  padding: 1em;
}
